.banner-cont {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
  animation: appear 0.8s;
}
.banner-grey {
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  z-index: 9;
  border-radius: 25px;
}
.banner-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 25px;
}

.banner-title {
  position: absolute;
  z-index: 10;
  top: 35px;
  left: 17%;
  text-align: center;
  font-weight: 500;
  color: white;
  font-size: 48px;
}

@media (max-width: 1080px) {
  .banner-title {
    left: 10%;
  }
}

@media (max-width: 950px) {
  .banner-grey {
    height: 150px;
  }
  .banner-img {
    height: 150px;
  }
  .banner-title {
    top: 25px;
    left: 15%;
    font-size: 36px;
  }
  .tall {
    height: 223px;
  }
}
@media (max-width: 850px) {
  .banner-title {
    left: 10%;
  }
  .banner-cont {
    margin-bottom: 20px;
  }
}
@media (max-width: 760px) {
  .banner-grey {
    height: 110px;
  }
  .banner-img {
    height: 110px;
  }
  .banner-title {
    left: 5%;
    font-size: 24px;
    text-align: start;
  }
  .tall {
    height: 223px;
  }
}
@media (max-width: 510px) {
  .banner-title {
    top: 18px;
  }
  .banner-cont {
    margin-bottom: 10px;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
