.error-cont {
  color: #ff6060;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.error-num {
  font-size: 200px;
  font-weight: 700;
  margin: 0px;
}
.error-text {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 200px;
}
a {
  color: inherit;
  text-decoration: underline;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 900px) {
  .error-num {
    font-size: 150px;
  }
  .error-text {
    font-size: 24px;
    margin-bottom: 150px;
  }
}
@media (max-width: 750px) {
  .error-num {
    font-size: 100px;
    margin-top: 50px;
  }
  .error-text {
    font-size: 18px;
    margin-bottom: 150px;
  }
  a {
    font-size: 14px;
  }
}
