.gallery-cont {
  padding: 60px 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2%;
  row-gap: 30%; /*FIX THIS*/
  background-color: #f6f6f6;
  border-radius: 10px;
  animation: appear 1.5s;
}

.card-link {
  position: relative;
  display: flex;
  color: white;
  font-weight: 500;
  height: 340px;
  width: 340px;
  margin-bottom: 50px;
}

.card-img {
  position: relative;
  object-fit: cover;
  height: 340px;
  width: 340px;
  border-radius: 10px;
  z-index: 1;
}

.card-cont p {
  position: absolute;
  z-index: 10;
  max-width: 150px;
  bottom: 15px;
  padding-left: 25px;
  text-align: start;
}

.color-overlay {
  display: block;
  position: absolute;
  height: 340px;
  width: 340px;
  border-radius: 10px;
  z-index: 2;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

@media (max-width: 880px) {
  .card-link {
    width: 335px;
    height: 255px;
  }
  .card-img {
    width: 335px;
    height: 255px;
  }
  .color-overlay {
    width: 335px;
    height: 255px;
  }
}
