.parent {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}

.header-cont {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5%;
  align-items: center;
}
.header-link {
  text-decoration: none;
  color: #ff6060;
}
h3 {
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
}
.underline {
  text-decoration: underline;
}
@media (max-width: 750px) {
  .parent {
    margin-bottom: 20px;
  }
  h3 {
    font-size: 18px;
  }
  img {
    height: 50px;
  }
}
@media (max-width: 500px) {
  .parent {
    margin-bottom: 10px;
  }
  h3 {
    font-size: 12px;
    text-transform: uppercase;
  }
  img {
    height: 45px;
  }
}
