.loge-info-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 25px;
}
.loge-title-cont {
  display: flex;
  flex-direction: column;
}
.loge-title-text {
  font-family: "montserrat";
  font-weight: 500;
  color: #ff6060;
  max-width: 70%;
}
.loge-title-text p {
  margin: 0px 0px 20px 0px;
  font-size: 18px;
}
.loge-title-text h2 {
  margin-bottom: 0px;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 0px;
}

.tags-cont {
  display: flex;
  flex-direction: row;
  gap: 1%;
}

.tags {
  font-size: 15px;
  font-weight: 500;
  font-family: "montserrat";
  color: white;
  background-color: #ff6060;
  border-radius: 10px;
  padding: 5px 20px;
  text-align: center;
}

/*RESPONSIVE*/

@media (max-width: 780px) {
  .loge-info-cont {
    flex-wrap: wrap;
  }
  .container {
    flex-direction: column;
    flex-wrap: wrap-reverse;
    max-height: 65px;
    width: 100%;
    margin-top: 20px;
  }
  .loge-title-text {
    min-width: 100%;
  }
  .s {
    width: 100%;
    margin-bottom: 20px;
  }
  .loge-host-info {
    justify-content: flex-end;
  }
  .rating {
    margin-top: 20px;
  }
}
